p {
  font-size: 14px;
  color: var(--ion-color-primary);
  font-weight: 100;
}

h4 {
  font-size: 24px;
  font-weight: 200;
  color: var(--ion-color-primary);
  margin: 0;
}

.rates {
  position: absolute;
  right: 10px;
  font-weight: 700;
}

.list {
  margin-bottom: 0px;
}

.currency {
  border: 1px solid var(--ion-color-primary);
  border-radius: 12px;
}
